.btn {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: var(--border-radius);
    padding: 5px 15px;
    border: 1px solid;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

/* .btn:not(.without-icon)::before {
    content: '\e906';
    font-family: 'icomoon' !important;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--sand-color);
    font-size: 12px;
    transform: translate(-6.5px, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.btn.btn-no-bg:before {
    color: var(--primary-color);
}

.btn:not(.without-icon):hover:before {
    transform: translate(-4px, -50%) rotate(45deg);
}

.btn:not(.btn-no-bg):hover:before {
    color: var(--primary-color);
}

.btn:not(.btn-no-bg)::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-radius: 100px;
    background: var(--primary-color);
    transition: all 0.4s ease-in-out;
    z-index: -1;
} */

.btn:hover::after {
    width: 100%;
}

.btn-primary,
.btn-default {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.btn-outline-white {
    background: transparent;
    border-color: white;
    color: white;
}

.btn-outline-white:hover {
    background: white;
    color: var(--primary-color);
    border-color: white;
}

@media screen and (max-width: 1199.98px) {
    
}

@media screen and (max-width: 991.98px) {
    
}

@media screen and (max-width: 575.98px) {
    
}
