<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>عن راديو بسمة</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/magnific-popup.css"
      integrity="sha512-UhvuUthI9VM4N3ZJ5o1lZgj2zNtANzr3zyucuZZDy67BO6Ep5+rJN2PST7kPj+fOI7M/7wVeYaSaaAICmIQ4sQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header-components">
          <div class="header-right">
            <a href="/" class="header-logo">
              <img
                src="../images/logo.png"
                alt="Tea gar logo"
                width="158"
                height="62"
              />
            </a>
            <nav class="main-menu">
              <ul class="main-menu-list list-plain">
                <li><a href="./home.html" class="item active">الرئيسية</a></li>
                <li><a href="./about.html" class="item">عن راديو بسمة</a></li>
                <li><a href="./home.html#programs" class="item">البرامج</a></li>
                <li><a href="./home.html#news" class="item">الأخبار</a></li>
                <li><a href="./contact.html" class="item">للتواصل</a></li>
              </ul>
            </nav>
          </div>
          <ul class="toolbar-menu-list list-plain">
            <li>
              <a href="" class="btn btn-primary">
                <i class="icon-play2"></i>
                <span>البث المرئي</span>
              </a>
            </li>
            <li>
              <div class="search-input-w">
                <input
                  type="text"
                  placeholder="البحث..."
                  class="search-input form-control"
                  name="search"
                />
                <i class="icon-search"></i>
              </div>
            </li>
            <li>
              <a href="#" class="lang-w">
                <i class="icon-earth"></i>
                <span>En</span>
              </a>
            </li>
          </ul>
          <div class="burger-w">
            <div class="burger-menu">
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="inner-page">
        <div class="inner-header">
          <div class="container">
            <h1 class="inner-header-title">عن راديو بسمة</h1>
          </div>
        </div>
        <div class="inner-body">
          <div class="container">
            <div class="inner-body-desc">
              <p>
              راديو فلسطيني شامل متنوع، يحاكي كافة فئات المجتمع خاصة الشباب،
              الذين يشكلون الشريحة الأوسع في فلسطين، ليضيء على اهتمامات الناس
              اليومية ويزودهم بآخر المعلومات والمستجدات والإبداعات من خلال
              برامجه المتنوعة.
              </p>
              <p>
                يتميز راديو بسمة برؤيته المتقدمة ومواكبته للتطور
              التكنولوجي ووسائل التواصل الاجتماعي، عبر إنتاج فكر مبدع يسعى إلى
              البناء والابتكار، ويصل صوت بسمة عبر موجاته إلى كافة مناطق الضفة
              الغربية وقطاع غزة، إضافة إلى مناطق تركز الفلسطينيين/ات في الداخل
              والأردن.
              </p>
              <p>
              يبدأ البث الرسمي للإذاعة يوميًا الساعة السابعة صباحًا في
              برامج متنوعة تبدأ في الفترة الصباحية وتصطحب الموظفين/ات في رحلتهم
              بفقرات ترفيهية وأخبار وأحوال الطرق والحواجز، وبرنامج مماثل بعد
              الظهيرة أثناء عودتهم إلى منازلهم، بالإضافة إلى العديد من الفقرات
              المتخصصة التي تشمل الترفيه والموسيقى والثقافة والفن والموضة و
              الرياضة والصحة، إضافة إلى مجموعة من البرامج الحوارية المختلفة خاصة
              مع الشباب.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-8">
            <div class="footer-right">
              <a class="footer-logo">
                <img src="../images/footer-logo.png" alt="" />
              </a>
              <div class="footer-content-desc">
                راديو فلسـطيني متنـوع يحاكـي كافة فئـات المجتمـع خاصـة جيـل
                الشـباب الـذي يشمـل الشـريحة الأوسـع فـي فلسـطين.
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-left">
              <ul class="social-list list-plain mt-20">
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-twitter1"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item">
                    <i class="icon-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-youtube"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-whatsapp"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-tiktok"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-soundcloud1"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-telegram1"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-8">
              <div class="copy-rights">
                حقوق النشر © 2023 راديو بسمة . كل الحقوق محفوظة.
              </div>
            </div>
            <div class="col-md-4">
              <div class="footer-links">
                <a href="" class="footer-link">المساعدة والدعم</a>
                <a href="" class="footer-link">الأحكام والشروط</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="sticky-box-w">
        <div class="container">
          <div class="sticky-box">
            <div class="logo-box">
              <img src="../images/logo.png" alt="logo" />
            </div>
          </div>
        </div>
      </div> -->
    </footer>

    <!-- <script src="../js/jquery.js"></script> -->
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/jquery.magnific-popup.js"
      integrity="sha512-tOyzsVuGuz0il5EcXFi/qA5DI4BNLna4gHbWn+HbQBP0jmRhyqMKup24fzyKnxSX0jBxt2+qStqwwHDIh5TaGA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
      integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../js/index.js" type="module"></script>
  </body>
</html>
