<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basma Radio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/magnific-popup.css"
      integrity="sha512-UhvuUthI9VM4N3ZJ5o1lZgj2zNtANzr3zyucuZZDy67BO6Ep5+rJN2PST7kPj+fOI7M/7wVeYaSaaAICmIQ4sQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header-components">
          <div class="header-right">
            <a href="/" class="header-logo">
              <img
                src="../images/logo.png"
                alt="Tea gar logo"
                width="158"
                height="62"
              />
            </a>
            <nav class="main-menu">
              <ul class="main-menu-list list-plain">
                <li><a href="./home.html" class="item active">الرئيسية</a></li>
                <li><a href="./about.html" class="item">عن راديو بسمة</a></li>
                <li><a href="#programs" class="item">البرامج</a></li>
                <li><a href="#news" class="item">الأخبار</a></li>
                <li><a href="./contact.html" class="item">للتواصل</a></li>
              </ul>
            </nav>
          </div>
          <ul class="toolbar-menu-list list-plain">
            <li>
              <a href="" class="btn btn-primary">
                <i class="icon-play2"></i>
                <span>البث المرئي</span>
              </a>
            </li>
            <li>
              <div class="search-input-w">
                <input
                  type="text"
                  placeholder="البحث..."
                  class="search-input form-control"
                  name="search"
                />
                <i class="icon-search"></i>
              </div>
            </li>
            <li>
              <a href="#" class="lang-w">
                <i class="icon-earth"></i>
                <span>En</span>
              </a>
            </li>
          </ul>
          <div class="burger-w">
            <div class="burger-menu">
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="upBtn" id="upBtn"><i class="icon-triangle"></i></div>
    <main>
      <section class="main-slider-swiper-w loading">
        <div class="swiper main-slider-swiper" id="swiper-main-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="main-slider lazyload"
                data-bg="../images/92887be7-99f0-4c23-ad26-9545981f239a.webp"
              ></div>
            </div>
            <div class="swiper-slide">
              <div
                class="main-slider lazyload with-shadow"
                data-bg="../images/c868bfa7-8c09-44ba-a32d-c48bcd778f3b.webp"
              >
                <div class="row">
                  <div class="col-lg-4 col-md-8">
                    <h2 class="main-slider--title">بسمة..صوت بلادي</h2>
                    <div class="main-slider--content">
                      <div class="content-item">
                        <div class="title">القدس</div>
                        <div class="number">89.9</div>
                      </div>
                      <div class="content-item">
                        <div class="title">نابلس</div>
                        <div class="number">90.9</div>
                      </div>
                      <div class="content-item">
                        <div class="title">بيت لحم</div>
                        <div class="number">95.3</div>
                      </div>
                      <div class="content-item">
                        <div class="title">الخليل</div>
                        <div class="number">90.9</div>
                      </div>
                      <div class="content-item">
                        <div class="title">رام الله والبيرة</div>
                        <div class="number">105.4 | 91.2</div>
                      </div>
                      <div class="content-item">
                        <div class="title">خانيونس</div>
                        <div class="number">91.2</div>
                      </div>
                      <div class="content-item">
                        <div class="title">الخليل</div>
                        <div class="number">91.2</div>
                      </div>
                      <div class="content-item">
                        <div class="title">المثلث</div>
                        <div class="number">91.2</div>
                      </div>
                      <div class="content-item">
                        <div class="title">روابي</div>
                        <div class="number">105.4 | 91.2</div>
                      </div>
                      <div class="content-item">
                        <div class="title">روابط</div>
                        <div class="number">105.4 | 91.2</div>
                      </div>
                      <div class="content-item">
                        <div class="title">الشمال</div>
                        <div class="number">105.4 | 91.2</div>
                      </div>
                    </div>
                    <div class="main-slider--buttons">
                      <a
                        href="#"
                        class="btn btn-outline-white main-slider--btn"
                      >
                        <span>البث المرئي</span>
                        <i class="icon-WhitePlayButtonIcon"></i>
                      </a>
                      <a
                        href="#"
                        class="btn btn-outline-white main-slider--btn"
                      >
                        <span>البث الإذاعي</span>
                        <i class="icon-feed"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="main-slider lazyload"
                data-bg="../images/92887be7-99f0-4c23-ad26-9545981f239a.webp"
              ></div>
            </div>
            <div class="swiper-slide">
              <div
                class="main-slider lazyload with-shadow"
                data-bg="../images/6e299f39-be89-4720-b981-564a48ff4212.webp"
              >
                <div class="row">
                  <div class="col-lg-4 col-md-8">
                    <h2 class="main-slider--title">بسمة..صوت بلادي</h2>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div
                class="main-slider lazyload with-shadow"
                data-bg="../images/5a570395-2471-4ec8-8cba-2e8c7d0596f2.webp"
              >
                <div class="row">
                  <div class="col-lg-4 col-md-8">
                    <h2 class="main-slider--title">بسمة..صوت بلادي</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-pagination main-slider-swiper-pagination"></div>
        </div>
      </section>

      <section class="section-m" id="programs">
        <div class="container">
          <div class="section-head">
            <h2 class="section--title">برامج بسمة</h2>
          </div>
          <div class="section-content">
            <div class="swiper programs-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="./inner-program.html"
                    class="program-item lazyload"
                    data-bg="../images/programs/0743a301-6b8f-41f2-9513-737feb2a7cec.png"
                  >
                    <div class="program-item-content">
                      <div class="program-item-body">
                        <h3 class="program-item-title">تمرينك اليوم</h3>
                        <time class="program-item-time">10:00 - 11:00</time>
                      </div>
                      <div class="program-item-play">
                        <i class="icon-play-button"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="./inner-program.html"
                    class="program-item lazyload"
                    data-bg="../images/programs/baf67e9a-94b9-4667-920d-c6a22cb0e56b.png"
                  >
                    <div class="program-item-content">
                      <div class="program-item-body">
                        <h3 class="program-item-title">إن جاز التعبير</h3>
                        <time class="program-item-time">10:00 - 11:00</time>
                      </div>
                      <div class="program-item-play">
                        <i class="icon-play-button"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="./inner-program.html"
                    class="program-item lazyload"
                    data-bg="../images/programs/e7ae8f36-6975-45f4-86be-d9d0435248b1.jpg"
                  >
                    <div class="program-item-content">
                      <div class="program-item-body">
                        <h3 class="program-item-title">زمامير</h3>
                        <time class="program-item-time">10:00 - 11:00</time>
                      </div>
                      <div class="program-item-play">
                        <i class="icon-play-button"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-m news-section" id="news">
        <div class="container">
          <div class="section-head">
            <h2 class="section--title">الأخبار</h2>
          </div>
        </div>
        <div class="section-content">
          <div class="container">
            <div class="swiper news-swiper d-none">
              <div class="close-w">
                <i class="icon-close news-swiper-close"></i>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide news-selected-details">
                  <div class="news-selected-details-image">
                    <img
                      src="../images/news/02d898b6-700a-4ee9-a258-20b1e1a15b5a.jpg"
                      alt=""
                    />
                  </div>
                  <div class="news-selected-details-content">
                    <h3 class="news-selected-details-title">
                      عباس يصدر إعلانا دستوريا يقضي بتولي نائبه مهام الرئيس في
                      حال شغور المنصب
                    </h3>
                    <div class="news-selected-details-desc">
                      راديو بسمة - أصدر رئيس دولة فلسطين محمود عباس، إعلاناً
                      دستورياً، يقضي بموجبه، بأنه إذا شغر مركز رئيس السلطة
                      الوطنية الفلسطينية، في حالة عدم وجود المجلس التشريعي،
                      يتولى نائب رئيس اللجنة التنفيذية لمنظمة التحرير
                      الفلسطينية، نائب رئيس دولة فلسطين، مهام رئاسة السلطة
                      الوطني...
                    </div>
                    <a href="./inner-news.html" class="news-selected-details-btn">اقرأ المزيد</a>
                    <div class="news-selected-details-date">26 Oct 2025</div>
                  </div>
                </div>
                <div class="swiper-slide news-selected-details">
                  <div class="news-selected-details-image">
                    <img
                      src="../images/news/02d898b6-700a-4ee9-a258-20b1e1a15b5a.jpg"
                      alt=""
                    />
                  </div>
                  <div class="news-selected-details-content">
                    <h3 class="news-selected-details-title">
                      عباس يصدر إعلانا دستوريا يقضي بتولي نائبه مهام الرئيس في
                      حال شغور المنصب
                    </h3>
                    <div class="news-selected-details-desc">
                      راديو بسمة - أصدر رئيس دولة فلسطين محمود عباس، إعلاناً
                      دستورياً، يقضي بموجبه، بأنه إذا شغر مركز رئيس السلطة
                      الوطنية الفلسطينية، في حالة عدم وجود المجلس التشريعي،
                      يتولى نائب رئيس اللجنة التنفيذية لمنظمة التحرير
                      الفلسطينية، نائب رئيس دولة فلسطين، مهام رئاسة السلطة
                      الوطني...
                    </div>
                    <a href="./inner-news.html" class="news-selected-details-btn">اقرأ المزيد</a>
                    <div class="news-selected-details-date">26 Oct 2025</div>
                  </div>
                </div>
              </div>
              <div class="swiper-buttons">
                <div class="swiper-button-prev news-button-prev"></div>
                <div class="swiper-button-next news-button-next"></div>
              </div>
            </div>

            <div class="tabs-w">
              <ul class="tabs-list news-category-list list-plain">
                <li><a href="#local" class="item active">محلي</a></li>
                <li><a href="#international" class="item">دولي</a></li>
                <li><a href="#sports" class="item">رياضة</a></li>
                <li><a href="#entertainment" class="item">منوعات</a></li>
                <li><a href="#culture" class="item">ثقافة وفنون</a></li>
              </ul>
            </div>
            <div class="tabs-content">
              <div id="local" class="tab-content tab-hash active">
                <div class="row">
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/02d898b6-700a-4ee9-a258-20b1e1a15b5a.jpg"
                      data-title="عباس يصدر إعلانا دستوريا يقضي بتولي نائبه مهام الرئيس في حال شغور المنصب"
                      data-desc=" راديو بسمة - أصدر رئيس دولة فلسطين محمود عباس، إعلاناً دستورياً، يقضي بموجبه، بأنه إذا شغر مركز رئيس السلطة الوطنية الفلسطينية، في حالة عدم وجود المجلس التشريعي، يتولى نائب رئيس اللجنة التنفيذية لمنظمة التحرير الفلسطينية، نائب رئيس دولة فلسطين، مهام رئاسة السلطة الوطني..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          عباس يصدر إعلانا دستوريا يقضي بتولي نائبه مهام الرئيس
                          في حال شغور المنصب
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/66a2bda9-56f6-4fc2-9cfa-4c128a2487e9.webp"
                      data-title="الاحتلال يجرف أراضي المواطنين شرق الخليل"
                      data-desc=" راديو بسمة - شرعت قوات الاحتلال ، اليوم الأحد، بتجريف مساحات كبيرة من أراضي المواطنين في محيط جبل جويحان شرق الخليل. وذكرت مصادر، أن عددا من آليات الاحتلال شرعت بتجريف أراضي المواطنين في جبل جويحان بمنطقة البويرة شرق الخليل، تمهيدا للاستيلاء عليها لصالح توسعه الاستيطا..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          عباس يصدر إعلانا دستوريا يقضي بتولي نائبه مهام الرئيس
                          في حال شغور المنصب
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="international" class="tab-content tab-hash">
                <div class="row">
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/66a2bda9-56f6-4fc2-9cfa-4c128a2487e9.webp"
                      data-title="الاحتلال يجرف أراضي المواطنين شرق الخليل"
                      data-desc=" راديو بسمة - شرعت قوات الاحتلال ، اليوم الأحد، بتجريف مساحات كبيرة من أراضي المواطنين في محيط جبل جويحان شرق الخليل. وذكرت مصادر، أن عددا من آليات الاحتلال شرعت بتجريف أراضي المواطنين في جبل جويحان بمنطقة البويرة شرق الخليل، تمهيدا للاستيلاء عليها لصالح توسعه الاستيطا..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          عباس يصدر إعلانا دستوريا يقضي بتولي نائبه مهام الرئيس
                          في حال شغور المنصب
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/66a2bda9-56f6-4fc2-9cfa-4c128a2487e9.webp"
                      data-title="الاحتلال يجرف أراضي المواطنين شرق الخليل"
                      data-desc=" راديو بسمة - شرعت قوات الاحتلال ، اليوم الأحد، بتجريف مساحات كبيرة من أراضي المواطنين في محيط جبل جويحان شرق الخليل. وذكرت مصادر، أن عددا من آليات الاحتلال شرعت بتجريف أراضي المواطنين في جبل جويحان بمنطقة البويرة شرق الخليل، تمهيدا للاستيلاء عليها لصالح توسعه الاستيطا..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          عباس يصدر إعلانا دستوريا يقضي بتولي نائبه مهام الرئيس
                          في حال شغور المنصب
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="sports" class="tab-content tab-hash">
                <div class="row">
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/c33e6405-e565-458c-a4e6-505c6a27912f.webp"
                      data-title="ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني بالعلامة الكاملة"
                      data-desc="راديو بسمة - حقق ريال مدريد انتصاره الثالث على التوالي في الدوري الإسباني لكرة القدم، وذلك على حساب ضيفه ريال مايوركا 1/2، مساء السبت، ضمن منافسات الجولة الثالثة من المسابقة. ورفع ريال مدريد رصيده إلى تسع نقاط في صدارة الترتيب، في انتظار مباراة غريمه التقليدي برشلونة،..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني
                          بالعلامة الكاملة
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/7677059c-fb2e-48cf-a84d-fe406e9fdfb5.jpg"
                      data-title="ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني بالعلامة الكاملة"
                      data-desc="راديو بسمة - حقق ريال مدريد انتصاره الثالث على التوالي في الدوري الإسباني لكرة القدم، وذلك على حساب ضيفه ريال مايوركا 1/2، مساء السبت، ضمن منافسات الجولة الثالثة من المسابقة. ورفع ريال مدريد رصيده إلى تسع نقاط في صدارة الترتيب، في انتظار مباراة غريمه التقليدي برشلونة،..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني
                          بالعلامة الكاملة
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="entertainment" class="tab-content tab-hash">
                <div class="row">
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/7677059c-fb2e-48cf-a84d-fe406e9fdfb5.jpg"
                      data-title="ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني بالعلامة الكاملة"
                      data-desc="راديو بسمة - حقق ريال مدريد انتصاره الثالث على التوالي في الدوري الإسباني لكرة القدم، وذلك على حساب ضيفه ريال مايوركا 1/2، مساء السبت، ضمن منافسات الجولة الثالثة من المسابقة. ورفع ريال مدريد رصيده إلى تسع نقاط في صدارة الترتيب، في انتظار مباراة غريمه التقليدي برشلونة،..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني
                          بالعلامة الكاملة
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/7677059c-fb2e-48cf-a84d-fe406e9fdfb5.jpg"
                      data-title="ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني بالعلامة الكاملة"
                      data-desc="راديو بسمة - حقق ريال مدريد انتصاره الثالث على التوالي في الدوري الإسباني لكرة القدم، وذلك على حساب ضيفه ريال مايوركا 1/2، مساء السبت، ضمن منافسات الجولة الثالثة من المسابقة. ورفع ريال مدريد رصيده إلى تسع نقاط في صدارة الترتيب، في انتظار مباراة غريمه التقليدي برشلونة،..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني
                          بالعلامة الكاملة
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="culture" class="tab-content tab-hash">
                <div class="row">
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/7677059c-fb2e-48cf-a84d-fe406e9fdfb5.jpg"
                      data-title="ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني بالعلامة الكاملة"
                      data-desc="راديو بسمة - حقق ريال مدريد انتصاره الثالث على التوالي في الدوري الإسباني لكرة القدم، وذلك على حساب ضيفه ريال مايوركا 1/2، مساء السبت، ضمن منافسات الجولة الثالثة من المسابقة. ورفع ريال مدريد رصيده إلى تسع نقاط في صدارة الترتيب، في انتظار مباراة غريمه التقليدي برشلونة،..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني
                          بالعلامة الكاملة
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/7677059c-fb2e-48cf-a84d-fe406e9fdfb5.jpg"
                      data-title="ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني بالعلامة الكاملة"
                      data-desc="راديو بسمة - حقق ريال مدريد انتصاره الثالث على التوالي في الدوري الإسباني لكرة القدم، وذلك على حساب ضيفه ريال مايوركا 1/2، مساء السبت، ضمن منافسات الجولة الثالثة من المسابقة. ورفع ريال مدريد رصيده إلى تسع نقاط في صدارة الترتيب، في انتظار مباراة غريمه التقليدي برشلونة،..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          ريال مدريد يهزم مايوركا ويتصدر الدوري الإسباني
                          بالعلامة الكاملة
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex">
                    <div
                      class="news-item lazyload"
                      data-bg="../images/news/66a2bda9-56f6-4fc2-9cfa-4c128a2487e9.webp"
                      data-title="الاحتلال يجرف أراضي المواطنين شرق الخليل"
                      data-desc=" راديو بسمة - شرعت قوات الاحتلال ، اليوم الأحد، بتجريف مساحات كبيرة من أراضي المواطنين في محيط جبل جويحان شرق الخليل. وذكرت مصادر، أن عددا من آليات الاحتلال شرعت بتجريف أراضي المواطنين في جبل جويحان بمنطقة البويرة شرق الخليل، تمهيدا للاستيلاء عليها لصالح توسعه الاستيطا..."
                      data-date="26 Oct 2025"
                    >
                      <div class="news-item-content">
                        <h3 class="news-item-title">
                          عباس يصدر إعلانا دستوريا يقضي بتولي نائبه مهام الرئيس
                          في حال شغور المنصب
                        </h3>
                        <i class="icon-arrow-left"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-8">
            <div class="footer-right">
              <a class="footer-logo">
                <img src="../images/footer-logo.png" alt="" />
              </a>
              <div class="footer-content-desc">
                راديو فلسـطيني متنـوع يحاكـي كافة فئـات المجتمـع خاصـة جيـل
                الشـباب الـذي يشمـل الشـريحة الأوسـع فـي فلسـطين.
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-left">
              <ul class="social-list list-plain mt-20">
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-twitter1"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item">
                    <i class="icon-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-youtube"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-whatsapp"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-tiktok"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-soundcloud1"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-telegram1"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-8">
              <div class="copy-rights">
                حقوق النشر © 2023 راديو بسمة . كل الحقوق محفوظة.
              </div>
            </div>
            <div class="col-md-4">
              <div class="footer-links">
                <a href="" class="footer-link">المساعدة والدعم</a>
                <a href="" class="footer-link">الأحكام والشروط</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="sticky-box-w">
        <div class="container">
          <div class="sticky-box">
            <div class="logo-box">
              <img src="../images/logo.png" alt="logo" />
            </div>
          </div>
        </div>
      </div> -->
    </footer>

    <!-- <script src="../js/jquery.js"></script> -->
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/jquery.magnific-popup.js"
      integrity="sha512-tOyzsVuGuz0il5EcXFi/qA5DI4BNLna4gHbWn+HbQBP0jmRhyqMKup24fzyKnxSX0jBxt2+qStqwwHDIh5TaGA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
      integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../js/index.js" type="module"></script>
  </body>
</html>
