<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>راديو بسمة</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/magnific-popup.css"
      integrity="sha512-UhvuUthI9VM4N3ZJ5o1lZgj2zNtANzr3zyucuZZDy67BO6Ep5+rJN2PST7kPj+fOI7M/7wVeYaSaaAICmIQ4sQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header-components">
          <div class="header-right">
            <a href="/" class="header-logo">
              <img
                src="../images/logo.png"
                alt="Tea gar logo"
                width="158"
                height="62"
              />
            </a>
            <nav class="menu-list">
              <div class="main-w">
                <ul class="main-menu-list list-plain">
                  <li>
                    <a href="./home.html" class="item active">الرئيسية</a>
                  </li>
                  <li><a href="./about.html" class="item">عن راديو بسمة</a></li>
                  <li>
                    <a href="./home.html#programs" class="item">البرامج</a>
                  </li>
                  <li><a href="./home.html#news" class="item">الأخبار</a></li>
                  <li><a href="./contact.html" class="item">للتواصل</a></li>
                  <li class="show-mobile"><a href="#" class="item">En</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <ul class="toolbar-menu-list list-plain">
            <li>
              <a href="" class="btn btn-primary">
                <i class="icon-play2"></i>
                <span>البث المرئي</span>
              </a>
            </li>
            <li>
              <div class="search-input-w">
                <input
                  type="text"
                  placeholder="البحث..."
                  class="search-input form-control"
                  name="search"
                />
                <i class="icon-search"></i>
              </div>
            </li>
            <li>
              <a href="#" class="lang-w">
                <i class="icon-earth"></i>
                <span>En</span>
              </a>
            </li>
          </ul>
          <div class="burger-w">
            <div class="burger-menu">
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="inner-page program-inner-page">
        <div
          class="inner-header lazyload program-inner-header"
          data-bg="../images/programs/0743a301-6b8f-41f2-9513-737feb2a7cec.png"
        >
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-md-6 col-sm-10">
                <h1 class="inner-header-title large-title">بالملي</h1>
                <div class="inner-header-subtitle">سارة بربار</div>
                <div class="inner-header-desc">
                  برنامج إذاعي قصير وممتع يستكشف عالم البورصة والتداول بطريقة
                  شيقة وسرد قصصي، في كل حلقة، يتم التركيز على معلومة مثيرة أو
                  تاريخ فريد أو اتجاه مالي أو اقتصادي، إضافة إلى فقرة نتحدث فيها
                  عن أداء بورصة فلسطين خلال الاسبوع أو الشهر الماضي بنغمة خفيفة،
                  ممتعة، تفاعلية، وقريبة من المستمع.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inner-body">
          <div class="container">
            <h2 class="inner-body-title">الحلقات</h2>
            <hr class="mt-40 mb-40">
            <div class="row">
              <div class="col-xl-3 col-md-4 col-sm-6">
                <div
                  class="program-item lazyload"
                  data-bg="../images/programs/0743a301-6b8f-41f2-9513-737feb2a7cec.png"
                >
                  <div class="program-item-content">
                    <div class="program-item-body">
                      <h3 class="program-item-title">تمرينك اليوم</h3>
                      <time class="program-item-time">10:00 - 11:00</time>
                    </div>
                    <div class="program-item-play">
                      <i class="icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4 col-sm-6">
                <div
                  class="program-item lazyload"
                  data-bg="../images/programs/0743a301-6b8f-41f2-9513-737feb2a7cec.png"
                >
                  <div class="program-item-content">
                    <div class="program-item-body">
                      <h3 class="program-item-title">تمرينك اليوم</h3>
                      <time class="program-item-time">10:00 - 11:00</time>
                    </div>
                    <div class="program-item-play">
                      <i class="icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-8">
            <div class="footer-right">
              <a class="footer-logo">
                <img src="../images/footer-logo.png" alt="" />
              </a>
              <div class="footer-content-desc">
                راديو فلسـطيني متنـوع يحاكـي كافة فئـات المجتمـع خاصـة جيـل
                الشـباب الـذي يشمـل الشـريحة الأوسـع فـي فلسـطين.
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-left">
              <ul class="social-list list-plain mt-20">
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-twitter1"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item">
                    <i class="icon-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-youtube"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-whatsapp"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-tiktok"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-soundcloud1"></i
                  ></a>
                </li>
                <li>
                  <a href="" class="social-list-item"
                    ><i class="icon-telegram1"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-8">
              <div class="copy-rights">
                حقوق النشر © 2023 راديو بسمة . كل الحقوق محفوظة.
              </div>
            </div>
            <div class="col-md-4">
              <div class="footer-links">
                <a href="" class="footer-link">المساعدة والدعم</a>
                <a href="" class="footer-link">الأحكام والشروط</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="sticky-box-w">
        <div class="container">
          <div class="sticky-box">
            <div class="logo-box">
              <img src="../images/logo.png" alt="logo" />
            </div>
          </div>
        </div>
      </div> -->
    </footer>

    <!-- <script src="../js/jquery.js"></script> -->
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.2.0/jquery.magnific-popup.js"
      integrity="sha512-tOyzsVuGuz0il5EcXFi/qA5DI4BNLna4gHbWn+HbQBP0jmRhyqMKup24fzyKnxSX0jBxt2+qStqwwHDIh5TaGA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
      integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../js/index.js" type="module"></script>
  </body>
</html>
