.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--light-gray-color);
    padding: 30px;
    border-radius: 0 0 var(--border-radius-med) 0;
    flex: 1;
    height: 100%;
}

.form-control {
    width: 100%;
    background-color: white;
    font-size: 14px;
    padding: 10px 15px;
    transition: all .2s linear;
    text-transform: capitalize;
    border: 1px solid var(--border-color);
    border-radius: 0;
}

.form-control:not(textarea) {
    height: 45px;
}

.form-btn {
    margin-left: auto;
    display: flex;
    min-width: 120px;
    text-transform: uppercase;
}

.form-group label {
    font-size: 16px;
    color: var(--secondary);
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.search-input-w {
    position: relative;
    width: 100%;
    max-width: 165px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 3.5px 15px;
}

.search-input-w input {
    width: 100%;
    color: var(--text-color);
    border: none;
    padding: 0;
    height: unset;
    font-size: 14px;
}

.search-input-w i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    margin-left: 5px;
    font-size: 15px;
}